# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png
flutter_export_environment.sh

# IntelliJ / VSCode / Android Studio
.idea/
.vscode/
*.iml

# Flutter build outputs
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*

macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/Runner.xcworkspace/

windows/flutter/
windows/flutter/ephemeral/
windows/flutter/generated_*
windows/Runner/Runner.vcxproj.user
windows/x64/
windows/x86/

linux/flutter/
linux/flutter/ephemeral/

# Android specific
*.apk
*.aar
*.iml
.gradle/
local.properties
android/.gradle/
android/app/build/
android/build/
android/app/google-services.json
android/key.properties

# Firebase related
firebase.json
*.firebaserc

# Web
web/.dart_tool/
web/build/

# Others
*.log
*.lock
*.tmp
*.swp
*.DS_Store
*.class

# Test files
test/widget_test.dart

# Environment files
.env
.env.*
